@mixin btn($bg-color) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding:$base-padding - 0.25;
    border-radius: $base-border-radius;
    background-color: $bg-color;
    font-size: $font-size-sm + 0.25;
    font-weight: bold;
}

@each $key, $val in $colors {
    .btn-#{$key}{
        @include btn($val);
        border:0;
        &:hover{
            background-color: lighten($val,5)
        }
    }
}