@use "sass:map";

@each $key, $val in $colors {
    .table-#{$key}{
        border-collapse: collapse;
        width: 100%;
        td, th {
            padding: $base-padding * 0.75;
          }
        tr {
            background-color: map.get($colors, 'light-grey');
            border-bottom: $base-border-thickness*0.75 solid map.get($colors, 'grey');
        }
        tr:hover {
            background-color: map.get($colors, 'white');
        }
          
        th {
            padding-top: $base-padding;
            padding-bottom: $base-padding;
            text-align: left;
            background-color: $val;
            color: map.get($colors, 'white');
        }
    }
}