* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap- > * {
  padding: 0;
}

.gap- {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-error {
  color: #d32752;
}

.text-hover-error:hover {
  color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.bg-hover-error:hover {
  background-color: #d32752;
}

.text-grey {
  color: #2C3843;
}

.text-hover-grey:hover {
  color: #2C3843;
}

.bg-grey {
  background-color: #2C3843;
}

.bg-hover-grey:hover {
  background-color: #2C3843;
}

.text-green {
  color: #6EFACA;
}

.text-hover-green:hover {
  color: #6EFACA;
}

.bg-green {
  background-color: #6EFACA;
}

.bg-hover-green:hover {
  background-color: #6EFACA;
}

.text-light-grey {
  color: #F3F3F3;
}

.text-hover-light-grey:hover {
  color: #F3F3F3;
}

.bg-light-grey {
  background-color: #F3F3F3;
}

.bg-hover-light-grey:hover {
  background-color: #F3F3F3;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-hover-white:hover {
  background-color: white;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.bg-hover-black:hover {
  background-color: black;
}

.svg-logo-error {
  width: 47px;
  fill: #d32752;
}

.svg-logo-grey {
  width: 47px;
  fill: #2C3843;
}

.svg-logo-green {
  width: 47px;
  fill: #6EFACA;
}

.svg-logo-light-grey {
  width: 47px;
  fill: #F3F3F3;
}

.svg-logo-white {
  width: 47px;
  fill: white;
}

.svg-logo-black {
  width: 47px;
  fill: black;
}

.svg-title-error {
  fill: #d32752;
  width: 90px;
  padding-left: 0.75rem;
}

.svg-title-grey {
  fill: #2C3843;
  width: 90px;
  padding-left: 0.75rem;
}

.svg-title-green {
  fill: #6EFACA;
  width: 90px;
  padding-left: 0.75rem;
}

.svg-title-light-grey {
  fill: #F3F3F3;
  width: 90px;
  padding-left: 0.75rem;
}

.svg-title-white {
  fill: white;
  width: 90px;
  padding-left: 0.75rem;
}

.svg-title-black {
  fill: black;
  width: 90px;
  padding-left: 0.75rem;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #d32752;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
}
.btn-error:hover {
  background-color: #da3961;
}

.btn-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #2C3843;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
}
.btn-grey:hover {
  background-color: #364552;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #6EFACA;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
}
.btn-green:hover {
  background-color: #87fbd3;
}

.btn-light-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #F3F3F3;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
}
.btn-light-grey:hover {
  background-color: white;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
}
.btn-white:hover {
  background-color: white;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: black;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.txtfld-error {
  width: 96%;
  background-color: #d32752;
  font-size: 0.75rem;
  padding: 0.75rem 0.75rem;
  margin: 0.75rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.txtfld-error:hover {
  background-color: #da3961;
}

.txtfld-grey {
  width: 96%;
  background-color: #2C3843;
  font-size: 0.75rem;
  padding: 0.75rem 0.75rem;
  margin: 0.75rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.txtfld-grey:hover {
  background-color: #364552;
}

.txtfld-green {
  width: 96%;
  background-color: #6EFACA;
  font-size: 0.75rem;
  padding: 0.75rem 0.75rem;
  margin: 0.75rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.txtfld-green:hover {
  background-color: #87fbd3;
}

.txtfld-light-grey {
  width: 96%;
  background-color: #F3F3F3;
  font-size: 0.75rem;
  padding: 0.75rem 0.75rem;
  margin: 0.75rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.txtfld-light-grey:hover {
  background-color: white;
}

.txtfld-white {
  width: 96%;
  background-color: white;
  font-size: 0.75rem;
  padding: 0.75rem 0.75rem;
  margin: 0.75rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.txtfld-white:hover {
  background-color: white;
}

.txtfld-black {
  width: 96%;
  background-color: black;
  font-size: 0.75rem;
  padding: 0.75rem 0.75rem;
  margin: 0.75rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.txtfld-black:hover {
  background-color: #0d0d0d;
}

.table-error {
  border-collapse: collapse;
  width: 100%;
}
.table-error td, .table-error th {
  padding: 0.5625rem;
}
.table-error tr {
  background-color: #F3F3F3;
  border-bottom: 0.75px solid #2C3843;
}
.table-error tr:hover {
  background-color: white;
}
.table-error th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  background-color: #d32752;
  color: white;
}

.table-grey {
  border-collapse: collapse;
  width: 100%;
}
.table-grey td, .table-grey th {
  padding: 0.5625rem;
}
.table-grey tr {
  background-color: #F3F3F3;
  border-bottom: 0.75px solid #2C3843;
}
.table-grey tr:hover {
  background-color: white;
}
.table-grey th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  background-color: #2C3843;
  color: white;
}

.table-green {
  border-collapse: collapse;
  width: 100%;
}
.table-green td, .table-green th {
  padding: 0.5625rem;
}
.table-green tr {
  background-color: #F3F3F3;
  border-bottom: 0.75px solid #2C3843;
}
.table-green tr:hover {
  background-color: white;
}
.table-green th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  background-color: #6EFACA;
  color: white;
}

.table-light-grey {
  border-collapse: collapse;
  width: 100%;
}
.table-light-grey td, .table-light-grey th {
  padding: 0.5625rem;
}
.table-light-grey tr {
  background-color: #F3F3F3;
  border-bottom: 0.75px solid #2C3843;
}
.table-light-grey tr:hover {
  background-color: white;
}
.table-light-grey th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  background-color: #F3F3F3;
  color: white;
}

.table-white {
  border-collapse: collapse;
  width: 100%;
}
.table-white td, .table-white th {
  padding: 0.5625rem;
}
.table-white tr {
  background-color: #F3F3F3;
  border-bottom: 0.75px solid #2C3843;
}
.table-white tr:hover {
  background-color: white;
}
.table-white th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  background-color: white;
  color: white;
}

.table-black {
  border-collapse: collapse;
  width: 100%;
}
.table-black td, .table-black th {
  padding: 0.5625rem;
}
.table-black tr {
  background-color: #F3F3F3;
  border-bottom: 0.75px solid #2C3843;
}
.table-black tr:hover {
  background-color: white;
}
.table-black th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  background-color: black;
  color: white;
}

.navbar .container, .navbar-black .container, .navbar-white .container, .navbar-light-grey .container, .navbar-green .container, .navbar-grey .container, .navbar-error .container, .navbar, .navbar-black, .navbar-white, .navbar-light-grey, .navbar-green, .navbar-grey, .navbar-error {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-black, .navbar-white, .navbar-light-grey, .navbar-green, .navbar-grey, .navbar-error {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px, 3px, 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-black .site-title, .navbar-white .site-title, .navbar-light-grey .site-title, .navbar-green .site-title, .navbar-grey .site-title, .navbar-error .site-title {
  width: 10%;
}
.navbar-error {
  background-color: #d32752;
}

.navbar-grey {
  background-color: #2C3843;
}

.navbar-green {
  background-color: #6EFACA;
}

.navbar-light-grey {
  background-color: #F3F3F3;
}

.navbar-white {
  background-color: white;
}

.navbar-black {
  background-color: black;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 5px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 1.25px;
}

.br-sm {
  border-radius: 2.5px;
}

.br-lg {
  border-radius: 10px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}